nav{
  background: rgba(238, 240, 244, 0.87);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(238, 240, 244, 0.3);
}

.home-logo{
  font-size: 1.3rem;
  color: var(--main-color-1);
  margin: 1.5rem 7rem 1.5rem 0;
}

.search-bar{
  width: 400px;
  height: 40px;
  border: none;
  border-radius: 8px;
  padding: 1.2rem;
}

.search i{
  margin-left: -2rem;
  color: var(--main-color-4);
}

.menu{
  display: flex;
  align-items: center;
}

.pp{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 7rem;
  border: 1px solid var(--main-color-4);
}

.menus i{
  color: var(--main-color-1);
  margin-right: 20px;
  font-size: 1.1rem;
}