@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* WEBSITE THEME */
body {
  --bg-color: #EEF0F4;
  --main-color-1: #2F2721;
  --main-color-2: #FF8036;
  --main-color-3: #DADEE5;
  --heading-color: #000000;
  --text-color: #626262;
  --white-color: #ffffff;
  --section-padding: 4rem;
}

/* GENERAL STYLE */
*,
*::before,
*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  overflow-x: hidden;
  background-color: var(--bg-color);
  font-family: "Poppins", sans-serif;
}

a{
  text-decoration: none;
  color: var(--text-color);
}

ul{
  list-style: none;
}

li {
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

i{
  font-size: 1rem;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

/* --- CUSTOM SCROLLBAR --- */
::-webkit-scrollbar {
  width: 0.625rem;
  height: 0.5rem;
  background-color: #dedede;
}

::-webkit-scrollbar-thumb {
  background-color: #c2c2c2;
  border-radius: 0.625rem;
}

::-webkit-scrollbar-corner {
  background-color: #dedede;
}

::selection {
  background-color: hsla(var(--hue-1), 100%, 60%, 0.9);
  color: #fff;
}

/* REUSABLE CSS CODE*/
.container {
  position: relative;
  width: 100%;
  max-width: 80rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.container-2 {
  position: relative;
  width: 100%;
  max-width: 75rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.container-3 {
  max-width: 70rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.spacer {
  margin: 6rem 0;
}

.flex {
  display: flex;
}

.jc-sb {
  justify-content: space-between;
}

.ai-center {
  align-items: center;
}

.heading-1 {
  color: var(--heading-color);
  font-family: 'Libre Baskerville', serif;
  font-size: 4rem;
  font-weight: 300;
}

.heading-2 {
  color: var(--main-color-3);
  font-family: 'Poppins', serif;
  font-size: 1.1rem;
  font-weight: 700;
}

.text {
  color: var(--bg-color);
  font-family: 'Poppins', serif;
  font-size: .8rem;
}

.btn-1 {
  font-size: 0.7rem;
  padding: 1rem 2rem;
  color: var(--main-color-1);
  background: var(--bg-color);
  border-radius: 30px;
  transition: all 320ms cubic-bezier(0.22, 1, 0.36, 1);
  cursor: pointer;
}

.btn-2 {
  font-size: 0.8rem;
  margin-right: 0.8rem;
  padding: 0.8rem 1.8rem;
  color: var(--bg-color);
  background: transparent;
  border: 1px solid var(--bg-color);
  border-radius: 30px;
  transition: all 320ms cubic-bezier(0.22, 1, 0.36, 1);
}

.btn-3 {
  color: #898989;
  padding: 0.8rem 1.8rem;
  font-size: 0.8rem;
  font-weight: 600;
}

.form{
  width: 500px;
  padding: 2rem 4rem;
  background: rgba(255, 255, 255, 0.342);
  border: 2px solid #F5F5F5;
  text-align: center;
}

.form input {
  width: 100%;
  border: none;
  padding: 1rem 1.7rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  background: var(--white-color);

}

.form .btn-1{
  background: var(--main-color-2);
  font-size: .8rem;
  font-weight: 600;
}

.form input::placeholder {
  font-family: 'Poppins', serif;
  color: #949494;
}

.form .logo{
  margin: 1rem 0 3rem 0;
  font-size: 2rem;
  
}

.showcase-top{
  width: 100%;
  height: 250px;
  background: var(--main-color-1);
  margin-top: 2rem;
  border-radius: 10px;
  padding: 2rem 0 1rem 3rem;
}

.showcase-top .showcase-desc h1{
  color: var(--bg-color);
  font-size: 2.6rem;
  font-weight: 600;
  margin-bottom: -.5rem;
}

.showcase-top h1:nth-child(2){
  margin-bottom: 1.7rem;
}

.showcase-top .showcase-desc{
  width: 100% ;
}

.showcase-top img{
  clip: rect(auto, 412px, 197px, auto);
  position: absolute;
  top: 3.3%;
  left: 64.3%;
  width: 40%;
  cursor: pointer;
  transition: all 480ms cubic-bezier(0.22, 1, 0.36, 1);;
}


.showcase-top svg:nth-last-child(2){
  position: absolute;
  top: 8.5%;
  left: 70%;
  z-index: 1;
}
.showcase-top svg:nth-last-child(3){
  position: absolute;
  top: 1%;
  left: 78%;
}
.showcase-top svg:nth-last-child(4){
  position: absolute;
  top: 10%;
  left: 55%;
}

nav{
  background: var(--main-color-4);
}



.cat-wrap{
  width: 100%;
  overflow-y: hidden !important;
  overflow-x: auto;
  margin: 5rem 0;
}

.cat-card{
  align-items: center;
  display: flex;
  padding: 3rem 3rem;
  background: var(--main-color-3);
  border-radius: 8px;
  margin-right: 1rem;
  margin-bottom: 1rem;
  scroll-snap-align: center;

}

.cat-card:last-child{
  margin-right: 0;
  position: relative;
  
}


.cat-card img{
  width: 150px;
}

.kategori {
  margin-bottom: 3rem;
}

.kategori .heading{
  display: inline-block;
  border-radius: 8px;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.prod-card{
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.prod-img{
  width: 278px;
  padding: 7rem 1rem 3rem 1rem;
  background-color: var(--main-color-3);
  border-radius: 8px 8px 0 0;
}

.prod-img img{

  width: 100%;
}

.prod-desc{
  width: 278px;
  padding: .7rem 1.6rem 1.6rem 1.6rem;
  background: var(--main-color-1);
  border-radius: 10px;
  margin-top: -1rem;
}

.prod-desc p{
  margin-top: .5rem;
}

.prod-desc .bar{
  width: 60px;
  height: 5px;
  background: var(--main-color-3);
  margin: 0 auto;
  border-radius: 8px;
  margin-bottom: 2rem;
}

.carousel {
  width: 100%;
  overflow-y: hidden !important;
  overflow-x: scroll;
}

.cut{
  width: 246px;
  height: 118.67px;
  object-fit: cover;
}

.footer2 {
  background: var(--heading-color);
}

.l-footer h2 {
  color: var(--white-color);
}

.r-footer form {
  width: 500px;
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--text-color);
}

.r-footer form .btn-1 {
  background: var(--white-color);
  color: var(--heading-color);
  font-weight: 600;
  font-family: 'Poppins', serif;
  border: none;
  padding: 0.3rem 1.5rem;
}

.form-input {
  background: transparent;
  border: none;
  font-size: 0.8rem;
  color: var(--text-color);
  margin-bottom: -5px;
}

.form-input::placeholder {
  font-size: 0.8rem;
  color: var(--main-color-3);
  font-family: 'Poppins', serif;
}

.form-input:valid,
.form-input:focus {
  border: none;
  outline: none;
}

.r-footer .box .text {
  font-size: 0.9rem;
}

.l-check{
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 415px;
}

.check-heading{
  margin: 2rem 0;
}

.check-heading i{
  font-size: 1.5rem;
}

.check-card{
  display: flex;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.check-card .check-img{
  width: 200px;
  background: var(--main-color-1);
  padding: 2rem;
  border-radius: 8px 0 0 8px;
  align-items: center;
  display: flex;
}

.check-card .check-img img{
  width: 100%;
}

.check-desc{
  width: 300px;
  padding: 1rem;
  background: var(--main-color-3);
  border-radius: 0 8px 8px 0;
}

.check-desc-heading h1{
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.check-desc p{
  color: var(--main-color-1);
}

.action{
  justify-content: end;
  margin-top: 1.5rem;
}

.action .btn-1{
  background: var(--main-color-2);
  color: var(--white-color);
}

.action .btn-2{
  border: 1px solid var(--main-color-2);
  color: #FF8036;
  padding: .8rem .9rem;
  margin-left: .8rem;
}

.detail-card{
  padding: 1.4rem;
  background: var(--white-color);
  border-radius: 8px;
  width: 500px;
}

.detail-card h1{
  font-size: 1.2rem;
  border-bottom: 3px dotted var(--main-color-3);
  padding-bottom: .5rem;
}

.opsi-card{
  background: var(--main-color-3);
  padding: 1.5rem;
  margin-top: 1rem;
  border-radius: 8px;
}

.prod-check {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  margin-bottom: 1.5rem;
}

.prod-check:last-child{
  margin-bottom: .8rem;
}

.prod-check input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  margin: 0;
  font: inherit;
  color: transparent;
  width: 1.15em;
  height: 1.15em;
  border: 1.5px solid var(--main-color-1);
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

.prod-check input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--main-color-2);
  background-color: CanvasText;
}

.prod-check input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.prod-check .prod{
  padding-bottom: 0;
  margin-left: .7rem;
}

.prod .heading{
  font-size: 1rem;
  padding-bottom: .2rem;
}

.prod .text{
  color: var(--text-color);
}

.total-pesanan{
  padding: 1rem 1.5rem;
}

.total-pesanan h1{
  border: none;
  font-size: 1rem;
}

.total-pesanan p{
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 600;
}

.submit{
  display: inline;
  width: 100%;
  padding: 1rem;
  background: var(--main-color-2);
  border: none;
  border-radius: 10px;
  font-weight: 600;
  font-family: "Poppins";
}